*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    text-align: center;
}
.card-box{
    padding: 0px 0px;
    border: 2px solid;
    border-radius: 4%;
    box-shadow: 6px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 23vw;
    height: 80vh;
}

.nft-h{
    /* background-color: chartreuse; */
    text-align: left;
    color:black;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    /* letter-spacing: 0px; */
}

.nft-h > button{
    margin-left: 60px;
    padding: 5px 10px;
    /* border: none; */
    background-color: transparent;
    font-weight: 700;
    
}

.nft-h > button:hover{
    background-color:BLACK ;
    color: aliceblue;
}

.card-photo > img{
   height: 240px;
   width: 300px;
   border: 2px solid;
   box-shadow: 4px 2px 8px black ;
   border-radius: 20px;
}

#nftName{
  /* background-color: aqua; */
  font-size: 22px;
  height: 20px;
  width: 200px;
  font-weight: 870px;
  align-self: center;   
}

#price{
    font-weight:bolder;
    font-size: 28px;
    color: green;
}

#about{
    font-size: 16px;
    font-weight: 600;
    text-align:center;
}

.icon{
    align-self: center;
    /* border: 1px solid; */
    display: flex;
    width: 250px;
    font-size: 20px;
    justify-content: space-evenly;
    
}

.icon > a{
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.icon > a:hover{
    background-color: black;
    color: white;
}

.btn{
  display: flex;
  /* border: 1px solid; */
  width: 300px;
  height: 30px;
  /* align-self: center; */
  justify-content: space-around;
  font-size: 3px;
  margin-left: 30px;
}
.btn > button{
    width: 40px;
    border: none;
    color: black;
    position: relative;
    bottom: -10px;
    

}

.btn > button:hover{
    color: whitesmoke;
    font-size: 18px;
    /* color: greenyellow; */
    background-color: black;  
    cursor: pointer;
}